<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CachingFramework.Redis" version="4.7.0.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="net45" />
  <package id="StackExchange.Redis" version="1.1.603" targetFramework="net45" />
</packages>